
@{
    ViewData["Title"] = "GenericError";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Internal Server Error</h2>
We're sorry, an unexpected error occurred. We've been notified and are looking into it now.
