<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample App</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">(Sample Logo)</div>
        @await Component.InvokeAsync("LoginStatus")
    </div>
    @RenderBody()
</body>
</html>
