@model SampleCosmosCore2App.Models.Shared.SessionDetailsModel

<ul class="navbar-right">
    <li>Hi @Model.Username!</li>
    <li><a asp-controller="Account" asp-action="LogoutAsync">Log out</a></li>
</ul>  