// Fonts
$base-font-family: Arial, sans-serif;
$base-font-size: 12pt;
$base-font-weight: normal;

$heading-font-family: Arial, sans-serif;
$heading-font-size: 12pt;
$heading-font-weight: bold;

$fixed-font-family: monospace;
$fixed-font-size: 12pt;
$fixed-font-weight: normal;
$fixed-line-height: 1.6;

// Colors
$color-green: #55BB55;
$color-orange: orange;
$color-gray-xtra-light: #F5F5F5;
$color-gray-light: #eeeeee;
$color-gray-medium: #999999;

$color-text-regular: #333333;
$color-text-faded: #666666;
$color-text-loud: #111111;
$color-text-inverse: white;
$color-text-validation-good: #880000;
$color-text-validation-good-light: #880000;
$color-text-validation-bad: #880000;
$color-text-validation-bad-light: #FFCCCC;

$color-input-active: #FFFFCC;

$color-link: $color-green;
$color-link-hover: $color-green;
$color-link-active: $color-green;
$color-link-visited: $color-green;

$color-border: #dddddd;

$color-button-primary: #44AA44;
$color-button-primary-hover: #55BB55;
$color-button-primary-active: #339933;

// Common Sizes
$default-line-height: 1.6;

// Common Layout Dimensions

